body{
    font-family: Arial;
    margin:0;
    background-color:#f4f4f4;
    overflow-x:hidden;
}

/* MENU */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;

    background-image: url("academia.png");
    background-size: cover;
    background-position: center;

    flex-wrap:wrap;
    gap:15px;
}

.logo{
    height:70px;
}

nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:18px;
}

/* BANNER */

.banner{
    text-align:center;
    padding:80px 20px;
    background:#1e90ff;
    color:white;
}

.banner h2{
    font-size:40px;
    margin-bottom:10px;
}

.banner p{
    font-size:20px;
    margin-bottom:20px;
}

.banner button{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#000000;
    color:white;
    cursor:pointer;
    font-size:16px;
}

/* PLANOS */

.planos{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin:40px;
    flex-wrap:wrap;
}

.plano{
    background:white;
    padding:25px;
    width:250px;
    text-align:center;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.plano h2{
    font-size:32px;
}

.plano button{
    background:#1e90ff;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
    color:white;
    font-size:16px;
}

/* CONTATO */

.contato{
    background:white;
    padding:40px 20px;
    text-align:center;
}

.info-contato p{
    font-size:18px;
    margin:10px 0;
}

/* FOOTER */

footer{
    text-align:center;
    background:#000000;
    color:white;
    padding:15px;
}

/* RESPONSIVO CELULAR */

@media(max-width:768px){

    header{
        flex-direction:column;
        text-align:center;
        padding:20px;
    }

    nav{
        margin-top:10px;
    }

    nav a{
        margin:10px;
        font-size:16px;
    }

    .banner{
        padding:60px 20px;
    }

    .banner h2{
        font-size:28px;
    }

    .banner p{
        font-size:16px;
    }

    .planos{
        margin:20px;
    }

    .plano{
        width:100%;
        max-width:320px;
    }

    .contato{
        padding:30px 15px;
    }

    .info-contato p{
        font-size:16px;
    }
}